@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    box-sizing: border-box;
    background-color: #a76378;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container{
    width: 420px;
    background: transparent;
    border: 2px solid #e5ebbc;
    border-radius: 17px;
    padding: 2%;
}

.container__titulo{
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #e5ebbc;
}

.container__input{
    position: relative;
    width: 100%;
    margin: 10% 0;
}

.container__input__in{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: #e5ebbc;
    padding: 1% 1% 1% 1%;
}


.container__input__in::placeholder{
    color: #F6F6F6;
}

.container__input img{
    position: absolute;
    right: 2%;
    top: 5%;
    margin-top: 4%;
}

.container__ancora{
    font-size: 16px;
    margin-top: 5px;
    text-decoration: none;
    color: #F6F6F6;

}

.container__ancora:hover{
    color: #e5ebbc;
}

.container__button{
    width: 100%;
    height: 50px;
    background-color: #f6f6f6;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top:1%;
    cursor: pointer;
}

.container__button:hover{
    background-color: #e5ebbc;
}

.container__register p a {
    font-size: 16px;
    color: #F6F6F6;
    text-decoration: none;
}

.container__p{
    color: #F6F6F6;
}

.container__register{
    text-align: center;
    margin: 20px 0;
}

.container__register p a:hover{
    color: #e5ebbc;
}